// TO DO: EJECT TO variables.scss and import
$grid-gap: 20px !default;

$screens: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
$screen-sm: map-get($screens, "sm") !default;
$screen-md: map-get($screens, "md") !default;
$screen-lg: map-get($screens, "lg") !default;
$screen-xl: map-get($screens, "xl") !default;

/* GRID */

/* CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: $screen-sm) {
  .container {
    width: 560px;
  }
}

@media (min-width: $screen-md) {
  .container {
    width: 750px;
  }
}

@media (min-width: $screen-lg) {
  .container {
    width: 970px;
  }
}

@media (min-width: $screen-xl) {
  .container {
    width: 1170px;
  }
}

/* ROW */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $grid-gap;
}

@mixin grid-span-for-screen($screen-size-short) {
  @for $i from 12 through 1 {
    .col-#{$screen-size-short}-#{$i} {
      grid-column: span $i;
    }
  }
}

@media (max-width: $screen-sm - 1) {
  @include grid-span-for-screen("xs");
}

@each $key, $size in $screens {
  @media (min-width: $size) {
    @include grid-span-for-screen($key);
  }
}


/* *************** */
/* UTILITY CLASSES */
/* *************** */

/* PADDING */

/* MARGIN */


